{% extends "base.html" %}

{% block title %}업적 페이지{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/achievements.css') }}">
{% endblock %}

{% block content %}
<div class="achievements-container">
    <h2>내 업적</h2>

    {% if achievements %}
        <ul>
            {% for achievement in achievements %}
                <li>
                    <strong>{{ achievement[0] }}</strong>
                    <div class="description">{{ achievement[1] }}</div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>아직 달성한 업적이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}
