{% extends "base.html" %}

{% block title %}일기 페이지{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/diary.css') }}">
{% endblock %}

{% block content %}

<div class="header">
   <!-- 이전 버튼 -->
   <a href="/diary?year={{ year }}&month={{ month - 1 }}">&#9664;</a>

   <!-- 현재 년월 표시 -->
   <h2>{{ year }}년 {{ '%02d' % month }}월</h2>

   <!-- 다음 버튼 -->
   <a href="/diary?year={{ year }}&month={{ month + 1 }}">&#9654;</a>
</div>

{% for day in days_in_month %}
    <div class="date-item">
        {% set diary = diaries | selectattr('day', 'equalto', day) | first %}
        <a href="{{ url_for('diary.write_diary', day=day, year=year, month=month, diary_id=diary['id'] if diary else None) }}">
            <span class="date-box">{{ '%02d' % month }}.{{ '%02d' % day }}</span>

            <span class="mood">
                {% if diary %}
                    <span class="mood-circle mood-{{ diary['mood'] }}"></span> <!-- mood 원 추가 -->
                    <!-- {{ diary['mood'] }} -->
                {% endif %}
            </span>
            <span class="message">
                {% if diary %}
                    {{ diary['body'] }}
                {% endif %}
            </span>
        </a>
    </div>
{% endfor %}

{% endblock %}
